# Basic Python: Data Types and Variables

### Synopsis 

In this lecture, we'll discuss some basic considerations involved when constructing Python programs, including: 

- How do I write syntactically correct code?
- How do I create and modify variables? 
- What data types are available to me? 
- How do I construct and manipulate simple collections of objects? 

### Required Reading

- The Python Tutorial, 3.1-3.3: [An Informal Introduction to Python](https://docs.python.org/3.7/tutorial/introduction.html)
- The Python Tutorial 5.1: [More on Lists](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists)

---

# Python as a Calculator

Because Python is an interactive language, it's a very practical substitute for a calculator. Let's try a few simple computations. 

The simplest approach is to type in the formula for a computation you would like to do. Here are a few examples using integers:

In [1]:
27+6

33

In [2]:
3*(3+2)

15

In [3]:
36 / 12 # (division converts integers into floating point numbers, i.e. decimals)

3.0

In [4]:
37 % 12 # remainder after division

1

In [5]:
2**3    # python uses x**y to denote "x to the power y"

8

Most of the same operations work with floating point numbers. However, surprises are possible.

In [6]:
27.3 + 5.4

32.7

In [7]:
37.4 % 12.2

0.8000000000000007

Wait. Uh, what? 

Recall that `%` refers to the remainder after division. In this case, 12.2 "goes into" 37.4 three times. Mathematically, the remainder is 37.4 - 3*(12.2) = 37.4 - 36.6 = 0.8. 

Just like in C++, Python's implementation of floating point numbers (i.e. decimals) has *finite precision.* That means that most numbers cannot be represented exactly. the result above reflects this fact: Python cannot represent `0.8` exactly, so it uses a close approximation in floating point representation.

# Variables

When writing code, it's almost always best to give names to important numbers. You can then use those names in subsequent computations. These names are called *variables.*

In [8]:
x = 27.3
y = 5.4 

x+y      # same as writing 27.3 + 5.4

32.7

This code block creates variables `x` and `y` with values 27.3 and 5.4 respectively, and then prints their sum. 

You can also assign names to the outputs of computations:

In [9]:
z=x+y
z

32.7

# Working with Text Data: Strings

A *string* is a series of one or more characters enclosed in either `'single'` or `"double"` quotation marks. For most strings, it doesn't matter whether you use single or double quotes:

In [10]:
a = "to boldly go"
b = 'to boldly go'
a == b

True

On the other hand, if you need to include a quotation mark in the string, then it is necessary to pay attention to the quotation types you use:

In [11]:
a = "Picard says 'to boldly go'" # works fine
b = 'Picard says "to boldly go"' # works fine
c = "Picard says "to boldly go"" # error
d = 'Picard says 'to boldly go'' # error

SyntaxError: invalid syntax (<ipython-input-11-ccd63c27dcf4>, line 3)

What if you need to include both kinds of quotation marks in the same string? In this case, we need to use `\` to *escape* characters:

In [12]:
e = 'Picard says "That\'s Kirk\'s line"'
e        # see e directly
print(e) # display e in nice format

Picard says "That's Kirk's line"

The `print()` function displays a pleasant, human-readable representation of many `python` objects.

## Basic String Manipulations

Python gives us several ways to use manipulate strings.

In [13]:
print("U.S.S. Enterprise D")

U.S.S. Enterprise D

The `+` sign can be used for string concatenation:

In [14]:
print("U.S.S. Enterprise" + " D")

U.S.S. Enterprise D

In [15]:
print("U." + 3*"S.S." + " Enterprise" + " D")

U.S.S.S.S.S.S. Enterprise D

In [16]:
x = "timidly"
print("to " + x + " go")

to timidly go

The `str()` function can convert many data types into string format, useful for printing messages involving numbers.

In [17]:
print("Deep Space 9")

Deep Space 9

In [18]:
x = 9
print("Deep Space " + x)

TypeError: can only concatenate str (not "int") to str

In [19]:
print("Deep Space " + str(x))

Deep Space 9

## Indexing

Like `C++`, `python` uses 0-based indexing. You can also use negative indices to count backward from the end of the string.

In [20]:
s = "Alpha Quadrant"
s[0:5]

'Alpha'

In [21]:
s[0:-2]

'Alpha Quadra'

You can also use the syntax `start:stop:interval` to get letters `interval` apart. For example:

In [22]:
# every other letter
s[0::2]

'ApaQarn'

In [23]:
s[0::1] # same as s

'Alpha Quadrant'

In [24]:
s[::-1] # s backwards

'tnardauQ ahplA'

In [25]:
s[0:10:3] # every third character up to the 11th

'AhQd'

Strings are immutable -- having been constructed, they cannot be changed. For example, You cannot use indexing to change the characters in a string

In [26]:
s[0] = "a"

TypeError: 'str' object does not support item assignment

# Lists

A `list` is an ordered sequence of arbitrary objects, which can be accessed and altered via numerical indexing. The simplest way to construct a list is to enclose a set of objects, separated by `,`, within brackets `[]`. For example:

In [83]:
L = ["Kirk", "Picard", "Sisko", "Janeway"]

In [84]:
L[2]

'Sisko'

The same indexing tricks work for lists as they do for strings.

In [85]:
L[1::2] 
L[::-1]

['Janeway', 'Sisko', 'Picard', 'Kirk']

### Listomania

We really mean it when we say that lists can contain **arbitrary** objects. They can have differing types, and can even be lists themselves:

In [86]:
L = ["Deep", "Space", 9, 1.4]

In [96]:
L = [["TNG", "DS9", "VOY"],["Picard", "Sisko", "Janeway"], [1, 2, 3]]
L

[['TNG', 'DS9', 'VOY'], ['Picard', 'Sisko', 'Janeway'], [1, 2, 3]]

In [97]:
L[0]

['TNG', 'DS9', 'VOY']

In [98]:
L[1][2]

'Janeway'

Later in the course, we'll learn more convenient and powerful ways to store lists of related data. 

Unlike strings, lists are mutable, and their elements can be altered in arbitrary ways. For example, we can `append()` elements.

In [99]:
L[0].append("TOS")
L[1].append("Kirk")
L[2].append(4)

L

There are many other ways to modify lists, a few of which are demonstrated below.

In [117]:
L = ["Kirk","Picard", "Sisko", "Janeway"]

print("Command                L")
print("-----------------------------------")
L.remove('Kirk')                             # removes first instance of 'Kirk'
print("L.remove('Kirk')      ", L)

L.pop(1)                                     # removes element in position 1 (Sisko)
print("L.pop(1)              ", L)

L.insert(1,'Spock')                          # adds 'Spock' in index 1
print("L.insert(1, 'Spock')  ", L)

L.sort()                                     # sorts elements (ascending)
print("L.sort()              ", L)

L.reverse()                                  # reverses order of elements
print("L.reverse()           ", L)

Command                L
-----------------------------------
L.remove('Kirk')       ['Picard', 'Sisko', 'Janeway']
L.pop(1)               ['Picard', 'Janeway']
L.insert(1, 'Spock')   ['Picard', 'Spock', 'Janeway']
L.sort()               ['Janeway', 'Picard', 'Spock']
L.reverse()            ['Spock', 'Picard', 'Janeway']

## Constructing Lists

Python offers many ways to construct lists, some of them more convenient than others. The method `split()` of `string` objects is one handy example. This can be used, for example, to loop over the individual words of a string. 

### Functions That Return Lists

In [118]:
s = "to boldly go"
s.split()

['to', 'boldly', 'go']

In [119]:
t = "in a mirror, darkly"
t.split(",")

['in a mirror', ' darkly']

### Loops

A more versatile way to construct lists is by first initiating an empty list, and then incrementally adding to it. Suppose I wanted to make a list of all integer squares up to 100. Here's a way to do this with a for loop (don't worry too much about the syntax for now).

In [120]:
squares = []             # an empty list
for i in range(1, 11):   # i ranges from 1 to 10
    squares.append(i**2) # add i**2 to the end of squares

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [121]:
word_lengths = []
for word in s.split():
    the_length = len(word)
    word_lengths.append(the_length)

word_lengths

[2, 6, 2]

### List Comprehensions

A much more compact and readable way to construct lists is provided by *list comprehensions.* List comprehensions are inspired by "set-builder" notation in mathematics. For example, we might write the `squares` list from above as 

$$\{i^2 \;|\; 1 \leq i \leq 10\}$$

List comprehensions allow us to write very similar `python` code.

In [122]:
squares = [i**2 for i in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

We were able to condense the three lines of code from our for-loop into just one, readable line. Similarly,

In [123]:
word_lengths = [len(word) for word in s.split()]
word_lengths

[2, 6, 2]

We can also write *conditional* comprehensions to construct even more complex lists:

In [124]:
even_squares = [i**2 for i in range(1,21) if i % 2 == 0]
even_squares

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

We can iterate over multiple indexing variables:

In [125]:
products = [i*j for i in [1,2,3] for j in [4, 5, 6]]
products

[4, 5, 6, 8, 10, 12, 12, 15, 18]

As before, we can easily construct lists of lists:

In [126]:
products2 = [[i*j for i in [1,2,3]] for j in [4, 5, 6]]
products2

[[4, 8, 12], [5, 10, 15], [6, 12, 18]]