__More Iterables__

We have already seen that we can loop over ists, ranges, and strings. In the next two videos we will introduce more iterable objects, tuples, sets, and dicts. We will also review list sorting

__Tuples__

Tuples are similar to lists, but are immutable

In [2]:
T=(0,1,2,3)
for i in T:
    print(i)

0
1
2
3

In [3]:
#this is allowed
L=[0,1,2,3]
L[1]=11
print(L)

[0, 11, 2, 3]

In [5]:
#this is not allowed
#T=(0,1,2,3)
#T[1]=11

#Otherwise, Tuples are very similar to lists

The rigid structure has some advantages. For example, you can zip tuples

In [13]:
letters=('a','b','c')
numbers=(1,2,3)
pairs=zip(numbers,letters,roman)
pairs

In [14]:
#in order to access the pair, turn it into a list of tuples
list(pairs)

[(1, 'a', 'i'), (2, 'b', 'ii'), (3, 'c', 'iii')]

In [16]:
#can zip mutiple tuples at once

letters=('a','b','c')
numbers=(1,2,3)
roman_numerals=('I','II','III')
triples=zip(numbers,letters,roman_numerals)
list(triples)

[(1, 'a', 'I'), (2, 'b', 'II'), (3, 'c', 'III')]

__Sets__

In [22]:
#For sets, use braces rather than brackets
my_set = {2,3,4}
print(my_set)

{2, 3, 4}
4
9
16

In [23]:
for s in my_set:
    print(s**2)

4
9
16

In [24]:
#items are either in set or they are not
print(my_set)
my_set.add(5)
print(my_set)

my_set.add(2)
print(my_set)

my_set.remove(2)
print(my_set)

{2, 3, 4}
{2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}

__Set operations__

In [26]:
S={1,2,3}
T={3,4,5}

print(S.intersection(T))
print(S.union(T))
print(S.difference(T))

{3}
{1, 2, 3, 4, 5}
{1, 2}

__Nifty Application__ - Count DISTINCT items in a list

In [32]:
L=[2,3,4,2,3,4,5,2,3,9,10,4,3]
print(len(set(L)))

6

In [33]:
#sets have no order
#This won't work
#print(my_set[0])