# Basic Python: Data Types and Variables

### Synopsis 

In this lecture, we'll discuss some basic considerations involved when constructing Python programs, including: 

- How do I write syntactically correct code?
- How do I create and modify variables? 
- What data types are available to me? 
- How do I construct and manipulate simple collections of objects? 

### Required Reading

- The Python Tutorial, 3.1-3.3: [An Informal Introduction to Python](https://docs.python.org/3.7/tutorial/introduction.html)
- The Python Tutorial 5.1: [More on Lists](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists)

---

# Python as a Calculator

Because Python is an interactive language, it's a very practical substitute for a calculator. Let's try a few simple computations. 

The simplest approach is to type in the formula for a computation you would like to do. Here are a few examples using integers:

In [1]:
27+6

33

In [2]:
3*(3+2)

15

In [3]:
36 / 12 # (division converts integers into floating point numbers, i.e. decimals)

3.0

In [4]:
37 % 12 # remainder after division

1

In [5]:
2**3    # python uses x**y to denote "x to the power y"

8

Most of the same operations work with floating point numbers. However, surprises are possible.

In [6]:
27.3 + 5.4

32.7

In [7]:
37.4 % 12.2

0.8000000000000007

Wait. Uh, what? 

Recall that `%` refers to the remainder after division. In this case, 12.2 "goes into" 37.4 three times. Mathematically, the remainder is 37.4 - 3*(12.2) = 37.4 - 36.6 = 0.8. 

Just like in C++, Python's implementation of floating point numbers (i.e. decimals) has *finite precision.* That means that most numbers cannot be represented exactly. the result above reflects this fact: Python cannot represent `0.8` exactly, so it uses a close approximation in floating point representation.

# Variables

When writing code, it's almost always best to give names to important numbers. You can then use those names in subsequent computations. These names are called *variables.*

In [8]:
x = 27.3
y = 5.4 

x+y      # same as writing 27.3 + 5.4

32.7

This code block creates variables `x` and `y` with values 27.3 and 5.4 respectively, and then prints their sum. 

You can also assign names to the outputs of computations:

In [9]:
z=x+y
z

32.7

## Identity and Equality of Variables

When are two variables "the same"? It's easy to check the `id` of a variable in Python -- this indicates the location in memory to which the name of the variable points. We can also use the `is` binary operator to check whether two variables point to the same memory location. 

Variables whose values are immutable often share the same memory.

In [12]:
a = 1
b = 1

print(id(a), id(b))
a is b

4431842992 4431842992

True

In [11]:
a = [1, 2]
b = [1, 2]
c = a
print(id(a), id(b))
a is b, a is c

4465123720 4465129032

(False, True)

To check whether two values are equal (even if they have different locations in memory), use `==`.

In [13]:
a == b, a == c

(True, False)

# Working with Text Data: Strings

A *string* is a series of one or more characters enclosed in either `'single'` or `"double"` quotation marks. For most strings, it doesn't matter whether you use single or double quotes:

In [10]:
a = "to boldly go"
b = 'to boldly go'
a == b

True

On the other hand, if you need to include a quotation mark in the string, then it is necessary to pay attention to the quotation types you use:

In [11]:
a = "Picard says 'to boldly go'" # works fine
b = 'Picard says "to boldly go"' # works fine
c = "Picard says "to boldly go"" # error
d = 'Picard says 'to boldly go'' # error

SyntaxError: invalid syntax (<ipython-input-11-ccd63c27dcf4>, line 3)

What if you need to include both kinds of quotation marks in the same string? In this case, we need to use `\` to *escape* characters:

In [12]:
e = 'Picard says "That\'s Kirk\'s line"'
e        # see e directly
print(e) # display e in nice format

Picard says "That's Kirk's line"

The `print()` function displays a pleasant, human-readable representation of many `python` objects.

## Basic String Manipulations

Python gives us several ways to use manipulate strings.

In [13]:
print("U.S.S. Enterprise D")

U.S.S. Enterprise D

The `+` sign can be used for string concatenation:

In [14]:
print("U.S.S. Enterprise" + " D")

U.S.S. Enterprise D

In [15]:
print("U." + 3*"S.S." + " Enterprise" + " D")

U.S.S.S.S.S.S. Enterprise D

In [16]:
x = "timidly"
print("to " + x + " go")

to timidly go

The `str()` function can convert many data types into string format, useful for printing messages involving numbers.

In [17]:
print("Deep Space 9")

Deep Space 9

In [18]:
x = 9
print("Deep Space " + x)

TypeError: can only concatenate str (not "int") to str

In [19]:
print("Deep Space " + str(x))

Deep Space 9

## Indexing

Like `C++`, `python` uses 0-based indexing. You can also use negative indices to count backward from the end of the string.

In [20]:
s = "Alpha Quadrant"
s[0:5]

'Alpha'

In [21]:
s[0:-2]

'Alpha Quadra'

You can also use the syntax `start:stop:interval` to get letters `interval` apart. For example:

In [22]:
# every other letter
s[0::2]

'ApaQarn'

In [23]:
s[0::1] # same as s

'Alpha Quadrant'

In [24]:
s[::-1] # s backwards

'tnardauQ ahplA'

In [25]:
s[0:10:3] # every third character up to the 11th

'AhQd'

Strings are immutable -- having been constructed, they cannot be changed. For example, you cannot use indexing to change the characters in a string

In [26]:
s[0] = "a"

TypeError: 'str' object does not support item assignment